<?xml version="1.0"?>

<!--  Copyright (c) 2017, Hiroki Urase
      All rights reserved.             -->

<launch>
  <!-- machine setup -->
  <!-- <env name="ROS_MASTER_URI" value="http://192.168.1.4:11311"/>
  <machine name="tegra-ubuntu" user="ubuntu" password="tomigaya1375" address="192.168.1.4" env-loader="/Documents/Lap/LapController/oikosms-ws/devel/env.sh"/> -->
  
  <node pkg="reachkit_driver" type="tcp_nmea_node.py" name="tcp_nmea_node">
    <param name="host" value="192.168.1.7"/>
    <param name="port" value = "8080" />
  </node>
  <node pkg="nmea_navsat_driver" type="nmea_topic_driver" name="nmea_topic_driver" />


</launch>
